:root {
  --bg: #f0f0f7;
  --white: #ffffff;
  --text-dark: #43425d;
  --text-default: #4d4f5c;
  --text-light: #a3a6b4;
  --grey: #eaf0f4;
  --btn-border: #d7dae2;
  --primary: #3b86ff;
  --red: #ff5f5f;
  --save-color: #6a6996;
  --light-grey: #d6d6d6;
}
